@import "tailwindcss";
@keyframes marquee {
  0% { transform: translateX(0%); }
  30% { transform: translateX(0%); }
  70% { transform: translateX(calc(-100% + 280px)); }
  100% { transform: translateX(0%); }
}

html, body {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  background-color: black;
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}